@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

body {
  margin: 0;
  padding: 0;
}

.flex {
  display: flex;
}

.container {
  margin: 0 auto;
  width: 1140px;
  outline: 1px solid red;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

:root {}

.backrground-image {
  background-image: url(images/family.jpeg);
  background-repeat: no-repeat;
  background-size: cover;

}

.nav_bar_list {
  gap: 32px;
  flex-direction: none;
  color: rgb(228, 216, 204);
  font-family: "Inter", sans-serif;
  font-size: 11px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 1.5px;
  text-align: left;
  text-transform: uppercase;
}

.nav_bar {
  gap: 253px;
}

.nav_bar_list_contacts {
  color: rgb(228, 216, 204);
  font-family: "Inter", sans-serif;
  font-size: 11px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 1.5px;
  text-align: left;
  text-transform: uppercase;
  gap: 38px;
}

/* -----------------------------------------main--------------------------------------------- */
/* ----------------------------------------- section----------------------------------------- */
.hero_title {
  color: rgb(228, 216, 204);
  font-family: "Inter", sans-serif;
  font-size: 57px;
  font-weight: 400;
  line-height: 60.48px;
  margin-top: 411px;
}

.hero_paragraph {
  color: rgb(195, 186, 177);
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  margin-top: -14px;
}

.hero_button {
  color: rgb(255, 255, 255);
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  border-radius: 100px;
  background: rgba(228, 216, 204, 0.5);
  padding: 14px 34px;
  border: none;
  cursor: pointer;
}

.button_active {
  color: rgb(255, 255, 255);
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  box-sizing: border-box;
  border: 2px solid rgb(120, 55, 243);
  border-radius: 100px;
  background: rgb(120, 55, 243);
  padding: 14px 34px;
  margin-top: 42px;
  cursor: pointer;
  margin-bottom: 116px;
}